<div class="row"  *ngIf="resultado.ambiente">
    <div class="col-12">
        <h3>Atenção! {{resultado.nome}}   Confira o Resultado abaixo  </h3>
    </div>
    <block-ui>
            <span class="sr-only">Carregando...</span>
    </block-ui>
    <div class="col-12" *ngIf="listaEpisCertos">
            <p>Suas Respostas</p>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col-3">Img</th>
                        <th scope="col-4">Nome Epi</th>
                        <th scope="col-4">Resposta</th>
  
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of this.resultado.episSelecionados">
                        <td>
                            <img [src]="baseurl + i.key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'" height="25%"  class="rounded">
                        </td>
                        <td>
                            <p>{{i.nome}} Cod Epi {{i.codigo}} </p>
                            <p>{{i.descricao}}</p>  
                        </td>
                        <td>
                           <i class="fa fa-check fa-3x" aria-hidden="true"  *ngIf="verificaRespostaArray(i.localVestimenta,i.key)"> </i>
                           <i class="fa fa-times-circle fa-3x" aria-hidden="true" *ngIf="!verificaRespostaArray(i.localVestimenta,i.key)"></i>
                           
                           <div *ngIf="trazRetornoResposta(i.localVestimenta)">
                              <table class="table" *ngIf="!verificaRespostaArray(i.localVestimenta,i.key)">
                                  <thead>
                                      <tr>
                                        <th scope="col-3">Img</th>
                                        <th scope="col-4">Detalhes</th>
                  
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr >
                                        <td *ngIf="trazRetornoResposta(i.localVestimenta)">
                                            <img [src]="baseurl + trazRetornoResposta(i.localVestimenta).key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'" height="25%"  class="rounded">
                                        </td>
                                        <td *ngIf="trazRetornoResposta(i.localVestimenta)">
                                            <p> 
                                              {{trazRetornoResposta(i.localVestimenta,i.key).nome}}
                                              Cod Epi : 
                                              {{trazRetornoResposta(i.localVestimenta,i.key).codigo}}
                                            </p>
                                        </td>
                                      </tr>
                                      </tbody>
                                  </table>    
                           </div>
                           <div *ngIf="!trazRetornoResposta(i.localVestimenta)">
                              Sem Epi para essa parte
                           </div>
                        </td>
  
                      </tr>
                    </tbody>
               </table>
    </div>

    <!-- <div class="col-12" *ngIf="resultado.ambiente">
            <h4 *ngIf="numAcertos">Voce acertou {{numAcertos}} de {{totalQuestoes}}</h4>
            <p>Suas Respostas</p>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col-3">Img</th>
                        <th scope="col-4">Nome Epi</th>
                        <th scope="col-4">Resultado</th>
  
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of resultado.episSelecionados">
                        <td>
                            <img [src]="baseurl + i.key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'" height="10%"  class="rounded">
                        </td>
                        <td>
                            <p>{{i.nome}} Cod Epi {{i.codigo}} </p>
                            <p>{{i.descricao}}</p>  
                        </td>
                        <td>
                            <i class="fa fa-check fa-3x" aria-hidden="true"  *ngIf="verificaResposta(i.localVestimenta,i.key)"> </i>
                            <i class="fa fa-times-circle fa-3x" aria-hidden="true" *ngIf="!verificaResposta(i.localVestimenta,i.key)"></i>

                        </td>
  
                      </tr>
                    </tbody>
               </table>
    </div>

    <div class="col-12" *ngIf="resultado.ambiente">
            <p>As Respostas Certas</p>
            <table class="table">
                    <thead>
                      <tr>
                        <th scope="col-3">Img</th>
                        <th scope="col-4">Nome Epi</th>
                        <th scope="col-4">Resultado</th>
  
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <img [src]="baseurl + i.key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'" height="10%"  class="rounded">
                        </td>
                        <td>
                            <p>{{i.nome}} Cod Epi {{i.codigo}} </p>
                            <p>{{i.descricao}}</p>  
                        </td>
                        <td>
                            <i class="fa fa-check fa-3x" aria-hidden="true"  *ngIf="verificaResposta(i.localVestimenta,i.key)"> </i>
                            <i class="fa fa-times-circle fa-3x" aria-hidden="true" *ngIf="!verificaResposta(i.localVestimenta,i.key)"></i>

                        </td>
  
                      </tr>
                    </tbody>
               </table>
    </div> -->

</div>