<p>
  Login Page
</p>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-user fa-5x" aria-hidden="true"></i>

    </div>

    <!-- Login Form -->
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="email" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" [(ngModel)]="senha" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
      <input type="submit" class="fadeIn fourth" value="Cadastrar" (click)="criarPerfil()">

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Perdeu a Senha?</a>
    </div> -->

  </div>
</div>