<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
      <span class="badge badge-primary">Epi Facil</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <li class="nav-item"  *ngIf="email">
            {{email}}
        </li>
        <ul class="navbar-nav" routerLinkActive="active" *ngIf="email">
          <li class="nav-item">
            <a class="nav-link" routerLink="ambientes">
              <i class="fa fa-picture-o" aria-hidden="true" ></i>
              Ambientes
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="email">
            <a class="nav-link" routerLink="epis">
              <i class="fa fa-wrench" aria-hidden="true" *ngIf="email"></i>
              Epis
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="email">
              <a class="nav-link" routerLink="resultado/list">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  Resultados
              </a>
            </li>

          <li class="nav-item"  routerLinkActive="active">
              <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item"  routerLinkActive="active" *ngIf="email">
              <a class="nav-link" (click)="logout()">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
          </li>


      </ul>

      </div>

  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
