<p></p>
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Seu Nome</ng-template>
        <p></p>
        <mat-form-field class="step-full-width">
          <input matInput placeholder="Digite seu nome" formControlName="nome" required>
        </mat-form-field>
        <div>
          <button mat-raised-button  matStepperNext [disabled]="!this.firstFormGroup.value.nome" color="primary">Proximo </button>
        </div>
      </form>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Ambiente</ng-template>
        <div class="card-group">
            <div class="card" *ngFor="let i of items | async">
              <img [src]="baseurl + i.key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'" height="300px"  class="card-img-top"alt="{{i.nome}}">
              <div class="card-body">
                <h5 class="card-title">{{i.titulo}}</h5>
                <p class="card-text">
                 {{i.descricao}}
                </p>
              </div>
              <div class="card-footer">
                  <button mat-raised-button  matStepperNext (click)="selecionarAmbiente(i)">Selecionar</button>
              </div>
            </div>
        </div>
        <div>
          <p></p>
          <button mat-raised-button matStepperPrevious>Voltar</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Montar Epi</ng-template>
       <div class="row">
          <div class="col-3">
              <h2>Epis </h2>
              <div
              cdkDropList
              [cdkDropListData]="items"
              class="example-list"
              cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)"
              >
              
              <div class="example-box" *ngFor="let i of itemsEpi | async" cdkDrag>
                  <div class="card-group">
                      <div class="card" >
                        <img [src]="baseurlEpi + i.key + '?alt=media&token=698d7ee6-5710-4dbd-8c4e-d5f9a7026ea8'"   class="card-img-top"alt="{{i.nome}}">
                        <div class="card-body">
                          <h5 class="card-title">{{i.nome}}</h5>
                          <p class="card-text">
                              Nome : {{i.nome}}
                              Codigo Epi :  {{i.codigo}}
                          </p>
                        </div>
    
                      </div>
                  </div>
                
              </div>
            </div>
           </div>  
    
          <div class="col-3">
              <h2>Epis</h2>
              <div
              cdkDropList
              [cdkDropListData]="resultado"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of resultadoCabeca" cdkDrag>
                {{item.nome}}
              </div>
              </div>
          </div>
          <div class="col-6">
              <img src="../assets/HUMAN/HUMAN.png">
    
          </div>
       </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>

