
<p></p>
<div class="container">
    <div class="row">
         <p></p>
         <hr>
         <div class="row"></div>
         <div class="col-12">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col-3">Nome</th>
                      <th scope="col-6">Ambiente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of items | async">
                      <td>
                         {{i.nome}} 
                      </td>
                      <td>
                        {{i.ambiente.titulo}}
                      </td>
                      <td>
                          <a  class="btn btn-primary" (click)="vaiParaAdd(i.key);">
                              Ver Resultado
                          </a>
                      </td>
                    </tr>
                  </tbody>
             </table>
         </div>
    </div>
</div>
